@{
    ViewData["Title"] = "Auswertung einer kursinternen Umfrage";
}

<div id="root">
    <script>initialState=0</script>
    @if (survey.Startup.development){
        <script src="http://localhost:3000/main.js" crossorigin></script>
    }else{
        <script src="@Url.Content("~/main.js")"></script>
    }
    
</div>

