@{
    ViewData["Title"] = "Auswertung einer kursinternen Umfrage";
}

<div id="root">
    <script>initialState=0</script>
    @if (survey.Startup.development){
        <script src="localhost:3000/main.js"></script>
    }else{
        <script src="@Url.Content("~/wwwroot/main.js")"></script>
    }
    
</div>

